<!DOCTYPE html>
<html>
<head>
	<style>
		div.footer{
			position: absolute;
  			right: 0;
  			bottom: 0;
  			left: 0;
  			padding: 1rem;
  			text-align: center;
		}
	</style>
	<title>NodeJS mysql</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/lumen/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
		<a href="/" class="navbar-brand">CRUD NodeJS mysql</a>
	</nav>